.instructorCard {
  display: flex;
  width: 400px;
  background: grey;
  border-radius: 10px;
  margin: 1rem;
}

.image {
  width: 100px;
  margin: 3px;
}

.instructorCard img {
  border-radius: 50%;
}

.text {
  margin: 0 1rem;
  text-align: left;
}

.text h2 {
  margin: 5px 0;
}

.textContainer {
  flex-grow: 1;
}

.instructorCard button {
  background: transparent;
  border: 0;
  margin-top: 1rem;
  text-align: right;
  cursor: pointer;
  color: rgb(14, 192, 14);
  font-size: 1rem;
  width: 100%;
  text-align: right;
}
