.main {
  background-color: rgb(0, 0, 0);
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  margin: 0 1.5rem;
  line-height: 0.3;
}

.logoText p {
  color: grey;
  font-size: 10px;
  line-height: 1;
  text-align: left;
  margin-top: 5px;
  color: azure;
}

.logoText h4 {
  line-height: 1;
  text-align: left;
  margin: 0;
  color: azure;
}

.logoContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid rgb(58, 57, 57);
  box-shadow: 0px 4px 5px 0px rgba(204, 204, 204, 0.25);
}

.logoImg img {
  width: 50px;
  height: 50px;
}

.logoImg img:hover {
  cursor: pointer;
}

.advisorImg img {
  width: 40px;
  height: 50px;
}
.advisorImg img:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.nav li {
  margin: 0 0.5rem;
  word-spacing: 0px;
}

.nav li a {
  color: azure;
}

.nav li a:hover {
  border-bottom: 2px solid rgb(48, 48, 255);
}

.contact {
  line-height: 1.3;
  font-size: 12px;
  color: azure;
  display: flex;
  flex-direction: column;
}
.contact a:hover {
  border-bottom: 1px solid rgb(48, 48, 255);
}

.main nav button {
  display: none;
}

.main nav button:focus + .nav {
  display: flex;
}

@media (max-width: 768px) {
  .main nav button {
    display: flex;
    margin: 0 auto;
    background: none;
    color: white;
    border: 0;
    padding: 5px;
  }

  .nav {
    display: none;
    flex-direction: column;
  }
  .advisorImg {
    display: none;
  }

  .logoContent {
    justify-content: center;
    padding: 1rem;
  }
}
